{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"svelteIndentScriptAndStyle": true,
	"tailwindStylesheet": "./src/routes/layout.css"
}
